<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sinemaotomasyon.Properties.Settings.sinema_rezervasyonConnectionString"
            connectionString="Data Source=PACKARDBELL;Initial Catalog=sinema_rezervasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>